.toolbar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 1em;
  width: 100%;

  .right {
    margin-left: auto;

  }

  .active {
    background-color: #e01933;
    color: white;
  }
}
