#form-wrapper>form {
  display: flex;
  flex-flow: column;
  margin: 2em auto;
  width: 500px;
  min-width: 280px;
  padding: 1em;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    mat-form-field {
      flex-basis: 48%;
    }
  }
}

.preferred {
  background-color: navy;
  color: white;

  &:hover {
    color: black;
  }
}

@media only screen and (max-width: 500px) {
  #form-wrapper>form {
    width: 300px;

    .form-row {
      flex-flow: wrap;

      mat-form-field {
        flex-basis: 100%;
      }
    }
  }
}
