#form-wrapper>form {
  display: flex;
  flex-flow: column;
  margin: 2em auto;
  max-width: 500px;
  padding: 1em;

  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    mat-form-field {
      flex-basis: 48%;
    }
  }
}

.preferred {
  background-color: navy;
  color: white;

  &:hover {
    color: black;
  }
}
