<div id="form-wrapper">
    <!-- Initial Form -->
    <form [formGroup]="initialForm">
        <mat-form-field>
            <mat-label>Trip type</mat-label>
            <mat-select formControlName="tripTypeControl">
                @for (tripOption of tripOptions; track tripOption.value) {
                <mat-option [value]="tripOption.value">{{tripOption.description}}</mat-option>
                } @empty {
                <span>no trip options available...</span>
                }
            </mat-select>
        </mat-form-field>

        <!-- Flight Location(s) -->
        <div class="form-row">
            <mat-form-field>
                <mat-label>Select a departure city</mat-label>
                <input #input type="text" placeholder="Pick one" matInput formControlName="departureLocation"
                    [matAutocomplete]="departAuto">
                <mat-autocomplete #departAuto="matAutocomplete">
                    @for (option of filteredDepartureCities | async; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Select a destination city</mat-label>
                <input #input type="text" placeholder="Pick one" matInput formControlName="destinationLocation"
                    [matAutocomplete]="destAuto">
                <mat-autocomplete #destAuto="matAutocomplete">
                    @for (option of filteredDestinationCities | async; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <!-- Flight Date(s) -->
        <!-- ONE WAY -->
        @if (initialForm.get('tripTypeControl')?.value === 'one-way') {
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="singlePicker" formControlName="departureDate" [min]="minDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="singlePicker"></mat-datepicker-toggle>
            <mat-datepicker #singlePicker></mat-datepicker>
        </mat-form-field>
        }

        <!-- ROUND TRIP -->
        @if (initialForm.get('tripTypeControl')?.value === 'round-trip') {
        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input formGroupName="dateRange" [rangePicker]="rangePicker" [min]="minDate">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>

            @if (initialForm.get('dateRange.start')?.valid === false) {
            <mat-error>Start date required</mat-error>
            }
            @if (initialForm.get('dateRange.end')?.valid === false) {
            <mat-error>End date required</mat-error>
            }
        </mat-form-field>
        }

        <!-- Number of Passengers -->
        <mat-form-field>
            <mat-label>Number of passengers</mat-label>
            <input matInput type="number" formControlName="passengerControl" min="0" max="9">
        </mat-form-field>

        @if (initialForm.get('passengerControl')?.valid === true && initialForm.get('passengerControl')?.value) {
        <mat-form-field>
            <mat-label>Select class</mat-label>
            <mat-select formControlName="flightClass">
                @for (option of flightClassOptions; track option) {
                <mat-option [value]="option.value" [class.preferred]="option.preferred">
                    {{option.description}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        }

        <button mat-raised-button color="primary" [disabled]="!initialForm.valid">Find flights</button>
    </form>
</div>